services:
  - type: web
    name: litbuddy-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: FRONTEND_URL
        value: https://litbuddy.vercel.app
      - key: FRONTEND_URLS
        value: https://litbuddy.vercel.app

    healthCheckPath: /api/health
